<div class="row" style="margin: auto; margin-bottom:50px">
    <div class="col-12 " >
<div class="card employee-card" style="width: 250px; border-radius: 5%;color:rgb(46, 5, 5);text-align: center;width: 280px;height: 280px;background-color: rgb(254, 240, 191);">
    <div class="card-header">
        <h2 class="card-title"style="margin: 0px;">{{ name }}<img src="../../Assets/pin3.png" width="40px" alt=""></h2>
        <h3 class="card-title"><i class="fas fa-glasses mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body" style="padding:0px;background-color:rgb(254, 240, 191);">
        <ul class="list-group">
            <li class="list-group-item" style="border-style:none;background-color:transparent ;color:rgb(46, 5, 5)">ID: {{ id }}</li>
            <li class="list-group-item" style="padding:0px;border-style:none;background-color:transparent ;color:rgb(46, 5, 5)">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item" style="border-style:none;background-color:transparent ;color:rgb(46, 5, 5)">GitHub: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
        </ul>
    </div>
</div>
</div></div>