<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body style="background-image: url(../../Assets/pinboard.jpg);background-repeat: no-repeat;background-attachment: fixed;
background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-12 jumbotron mb-3 team-heading" style="background-image: url(../../Assets/wall2.jfif);"> -->
                <h1 class="col-12 mb-3 team-heading text-center" style=" margin-top:80px;color:rgb(46, 5, 5);font-weight: bold; ">My Team</h1>
            <!-- </div> -->
        </div>
    </div>
    <div class="container d-flex justify-content-center" style="margin-top: 100px;">
        <div class="row">
            <!-- <div class="team-area col-12 d-flex justify-content-center"> -->
                {{ team }}
            </div>
        </div>
    </div>
</body>

</html>
